<form [formGroup]="formGroup" class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column gap-1 col-10">
        <p-selectButton 
            class="select-btn text-center mt-2"
            [options]="beneficiaryType" 
            formControlName="Type"
            optionLabel="label"
            (onChange)="onTypeChange()" 
            optionValue="value"/>
    </div>

    <ng-container *ngIf="selectedBeneficiaryType === BeneficiaryType.LegalEntity">
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="Name" />
        </div>
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="cui">CUI</label>
            <input type="text" pInputText id="cui" formControlName="CUI" />
        </div>
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="incDate">Incorporation Date</label>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-calendar"></i>
                </p-inputGroupAddon>
                <p-calendar type="text" pInputText id="incDate" formControlName="IncorporationDate" />
            </p-inputGroup>
        </div>
    </ng-container>
    <ng-container *ngIf="selectedBeneficiaryType === BeneficiaryType.NormalPerson">
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="fname">First Name</label>
            <input type="text" pInputText id="fname" formControlName="FirstName" />
        </div>
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="lname">Last Name</label>
            <input type="text" pInputText id="lname" formControlName="LastName" />
        </div>
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="cnp">CNP</label>
            <input type="text" pInputText id="cnp" formControlName="CNP" />
        </div>
        <div class="d-flex flex-column gap-1 mt-3 col-10">
            <label for="birthDate">Birth Date</label>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-calendar"></i>
                </p-inputGroupAddon>
                <p-calendar type="text" pInputText id="birthDate" formControlName="BirthDate" />
            </p-inputGroup>
        </div>
    </ng-container>

    <div class="d-flex flex-column gap-1 mt-3 col-10">
        <label for="address">Address</label>
        <input type="text" pInputText id="address" formControlName="Address" />
    </div>
    <div class="d-flex flex-column gap-1 mt-3 col-10">
        <label for="phone">Phone</label>
        <input type="text" pInputText id="phone" formControlName="Phone" />
    </div>
    <div class="d-flex flex-column gap-1 my-3 col-10">
        <label for="iban">IBANs</label>
        <input type="text" pInputText id="iban" formControlName="IBANs" />
    </div>
</form>
