<div class="d-flex h-100">
  <div class="custom-sidebar-col">
    <app-sidebar></app-sidebar>
  </div>
  <div class="custom-content-col d-flex flex-column">
    <div style="height: 50px;" class="bg-green text-light fw-bold d-flex align-items-center">Manage Beneficiaries</div>
    <div class="flex-fill bg-platinum p-3">
      <router-outlet></router-outlet>
    </div>
    <div class="px-3 py-3 bg-platinum">
      <app-context-bar></app-context-bar>
    </div>
  </div>
</div>
<app-status-modal #statusModal [modalConfig]="modalConfig" ></app-status-modal>