<p-card>
    <div class="d-flex justify-content-between">
        <button 
            pButton 
            pRipple 
            label="Add Beneficiary" 
            class="button-custom">
        </button>
        <button 
            pButton 
            pRipple 
            label="Edit Beneficiary" 
            [disabled]="true"
            class="p-button-info button-custom">
        </button>
        <button 
            pButton 
            pRipple 
            label="Delete Beneficiary" 
            [disabled]="true"
            class="p-button-danger button-custom">
        </button>
    </div>
</p-card>