$background-color-green: #344e41;
$background-color-dark-green: #3A5A40;
$background-color-light-green: #A3B18A;
$background-color-platinum: #f0e9eb;
$background-color-dark-blue: #145069;
$background-color-light-blue: #78A7AD;