<p-card>
    <!-- <div class="d-flex justify-content-between">
        <button 
            pButton 
            pRipple 
            label="Add Beneficiary" 
            class="button-custom">
        </button>
        <button 
            pButton 
            pRipple 
            label="Edit Beneficiary" 
            [disabled]="true"
            class="p-button-info button-custom">
        </button>
        <button 
            pButton 
            pRipple 
            label="Delete Beneficiary" 
            [disabled]="true"
            class="p-button-danger button-custom">
        </button>
    </div> -->
    <div [ngClass]="btnConfig.containerClass || ''">
        <button 
            *ngFor="let btn of btnList; let i = index"
            pButton 
            pRipple 
            [label]="btn.label || ''"
            [ngClass]="btn.class || ''" 
            [disabled]="btn.disabled"
            (click)="onButtonClick(btn, i)"
            >
        </button>
    </div>
</p-card>