.p-card-content {
    padding: 0.25rem 0 !important;
}

.button-custom {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: none;
}


.p-button {
    border: none;
}

.p-button:disabled {
    background-color: lightgray !important;
}

i.pi {
    font-size: 0.8rem;
}