/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./assets/_variables.scss";

html, body { height: 100%; }
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.bg-grey {
    background-color: rgb(247, 247, 247);
}

.bg-green {
    background-color: $background-color-green;
}

.bg-platinum {
    background-color: $background-color-platinum;
}

.bg-light-green,
.bg-light-green .p-button {
    background-color: $background-color-light-green;
}

.bg-dark-green,
.bg-dark-green .p-button {
    background-color: $background-color-dark-green;
}

.bg-dark-blue,
.bg-dark-blue .p-button {
    background-color: $background-color-dark-blue;
}

.bg-light-blue,
.bg-light-blue .p-button {
    background-color: $background-color-light-blue;
}

.bg-danger .p-button {
    background-color: #dc3545;
}

.bg-warn .p-button {
    background-color: #ffc107;
}

.p-button:focus,
.p-button:focus-visible {
    box-shadow: none;
}

p-selectbutton .p-button {
    background-color: #f1f1f1;
}

.custom-sidebar-col {
    flex: 0 0 auto;
    width: 10%;
}

.custom-content-col {
    flex: 0 0 auto;
    width: 90%;
}

.p-card .p-card-content {
    padding: 0.15rem 0;
}

.p-card.p-component {
    height: 100%;
}

.p-card .p-card-body {
    padding: 1rem;
}

#pn_id_1-table > .p-datatable-thead > tr > th:nth-child(9) {
    width: 100px !important;
    max-width: 100px !important;
}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
}

.p-dropdown-panel .p-dropdown-items {
    padding: 0;
}

.p-inputtext {
    padding: 0.45rem;
}

.select-btn .p-button {
    padding: 0.5rem 0.7rem;
}

.p-selectbutton .p-button.p-highlight {
    background-color: $background-color-light-green;
    border: none;
}

p-calendar {
    border: none;
    padding: 0 !important;

    span {
        width: 100%;
        input {
            padding: 4px;
            border-radius: 0 5px 5px 0;
        }
    }
}

.p-inputgroup-addon {
 padding: 0;
}

.p-button {
    border: none;
}

p-chips .p-chips,
p-chips .p-chips ul {
    width: 100%;
}

.p-inputtext.ng-invalid.ng-touched {
    border-color: #e24c4c;
}

p-chips.p-inputwrapper.ng-invalid.ng-touched ul{
    border-color: #e24c4c;
}