
tr {
    border-bottom: 1px solid #dfdfdf;
}

td, th {
    border-right: 1px solid #dfdfdf;
}

td:first-of-type,
th:first-of-type {
    border-left: 1px solid #dfdfdf;
}

td, th {
    padding: 0.5rem 0.5rem !important;
}

.p-highlight {
    background-color: #dfebd5;
    color: rgb(54, 54, 0);
}

p-card {
    display: block;
}

th {
    background-color: #dfdfdf;
}

::ng-deep .p-card .p-card-title {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}

::ng-deep .p-datatable .p-datatable-header {
    padding: 0.5rem;
}

::ng-deep .p-datatable-tbody > tr > td.overflow-hidden {
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .p-column-filter-add-rule,
::ng-deep .p-column-filter-operator {
    display: none !important;
}